.home1 {
    color: black;
    text-align: center;
    .dashboard {
        padding-top: 20px;
        background-color: black;
        h1 {
            font-size: 80px;
            font-weight: 800;
            color: #FF7700;
        }

        h3 {
            padding-top: 10px;
            font-size: 1.75em;
            color: #FFA300;
        }
        .image-section {
            margin-top: 80px;
            height: 800px;
            position: relative;
            #cauli {
                top: 190px;
                left: calc(50% - 450px);
                position: absolute;
                transform: rotate(
                    -25deg) !important;
                // width: 15vw;
            }
            #dog {
                position: absolute;
                border: 5px solid white;
                top: 32px;
                left: calc(50% - 170px);
                box-shadow: var(0.00px 1.00px 4px 0px rgba(0,0,0,0.4));
                img {
                    width: 350px;
                }
            }
            #dragon {
                top: 212px;
                left: calc(50% + 217px);
                position: absolute;
                transform: rotate(20deg) !important;
            }
            #sprouts {
                top: 450px;
                left: calc(50% - 128px);
                position: absolute;
                transform: rotate(-15deg) !important;
            }
        }
    }
    .box {
        h1 {
            padding-top: 77px;
            padding-bottom: 20px;
            font-size: 55px;
            font-weight: 800;
            color: #ffa300;
            letter-spacing: 0.01em;
        }
        .row {
            img {
                width: 100%;
            }
            p {
                font-size: 37px;
                font-weight: 500;
            }
            .get-box {
                padding: 20px;
                padding-bottom: 40px;
                button {
                    background-color: black;
                    color: white;
                    font-size: 40px;
                    padding: 15px;
                }
            }
        }
    }
    .cliam {
        background-color: #ff7700;
        padding: 39px;
        padding-bottom: 20px;
        h2 {
            font-size: 50px;
            color: white;
            font-weight: 800;
        }

        p {
            margin-bottom: 0;
            color: white;
        }
    }
    .cliam:hover {
        cursor: pointer;
        background-color: #FFA300;
    }
    .million {
        background-color: black;
        padding: 39px;
        color: white;
        h3 {
            font-size: 40px;
            font-weight: 700;
        }
        h4 {
            font-size: 29px;
            font-weight: 700;
        }
    }
    .million:hover {
        cursor: pointer;
        background-color: #353434;
    }
    .how {
        padding: 39px;
        color: black;
        h2 {
            font-size: 45px;
            font-weight: 800;
        }
        h4 {
            padding-top: 15px;
        }
        label {
            font-weight: 700;
            font-size: 16px;
        }
        button {
            background-color: black;
        }
        .container {
            margin-top: 40px;
            h5 {
                font-size: 25px;
            }
            p {
                word-break: break-all;
                font-size: 1rem;
            }
            img {
                width: 100%;
            }
            .next-col {
                position: relative;
                .get-vegan {
                    position: absolute;
                    bottom: 0px;

                }
            }
        }
        .padding-top-20 {
            padding-top: 20px;
        }
    }
    .from {
        background-color: #ffd500;
        padding: 40px;
        h2 {
            font-size: 35px;
            font-weight: 750;
        }
    }
    .section {
        background-color: #fafafa;
        padding: 27px;
        padding-top: 57px;
        h2 {
            font-size: 40px;
            font-weight: 800;
        }
        .row {
            width: 80%;
            margin: auto;
            ul {
                padding-top: 2rem;
                li {
                    text-align: left;
                    font-size: 20px;
                    font-size: 600;
                    list-style-type: none;
                    padding-bottom: 20px;
                }
            }
        }
    }
    .swap {
        background-color: white;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        img  {
            height: 6rem;
        }
    }
    .crypto {
        background-color: #fafafa;
        padding-top: 5rem;
        padding-bottom: 4rem;
        h2 {
            font-size: 40px;
            font-weight: 800;
        }

        h3 {
            font-size: 30px;
            font-weight: 700;
        }

        h4 {
            font-size: 20px;
            font-weight: 600;
            line-height: 1.8;
        }
    }
    .roadmap {
        position: relative;
        #roadmap {
            max-width: 100%;
        }

        .puff {
            position: absolute;
            img {
                max-width: 25vw;
            }
        }
        #puff1 {
            overflow: hidden;
            top: 0;
        }
        #puff2 {
            overflow: hidden;
            top: 0;
            right: 0;
        }
        #puff3 {
            overflow: hidden;
            bottom:0;
            transform: rotate(180deg);
        }
        #puff4 {
            overflow: hidden;
            bottom: 0;
            right: 0;
            transform: rotate(180deg);
        }
    }
    .footer {
        background-color: black !important;
        padding: 2rem;
        p {
            margin-bottom: 0;
            font-size: 1.5rem;
            color: white;
        }
    }
}

@media only screen and (max-width: 991px) {
    .home1 {
        color: black;
        text-align: center;
        .dashboard {
            padding-top: 2vw;
            background-color: black;
            h1 {
                font-size: 8vw;
                font-weight: 800;
                color: #FF7700;
            }
    
            h3 {
                padding-top: 1vw;
                font-size: 3vw;
                color: #FFA300;
            }
            .image-section {
                margin-top: 5vw;
                height: 93vw;
                position: relative;
                #cauli {
                    top: 20vw;
                    left: 5vw;
                    position: absolute;
                    transform: rotate(
                        -25deg) !important;
                    img {
                        width: 25vw;
                    }
                }
                #dog {
                    position: absolute;
                    border: 5px solid white;
                    top: 5.5vw;
                    left: calc(50% - 17.5vw);
                    box-shadow: var(0.00px 1.00px 4px 0px rgba(0,0,0,0.4));
                    img {
                        width: 35vw;
                    }
                }
                #dragon {
                    top: 23vw;
                    left: calc(50% + 20vw);
                    position: absolute;
                    transform: rotate(20deg) !important;
                    img {
                        width: 25vw;
                    }
                }
                #sprouts {
                    top: 50vw;
                    left: calc(50% - 12vw);
                    position: absolute;
                    transform: rotate(-15deg) !important;
                    img {
                        width: 30vw;
                    }
                }
            }
        }
            
        .box {
            h1 {
                padding-top: 7.7vw;
                padding-bottom: 2vw;
                font-size: 5.5vw;
                font-weight: 800;
                color: #ffa300;
                letter-spacing: 0.16vw;
            }
            .row {
                p {
                    font-size: 3.7vw;
                    font-weight: 500;
                }
                .get-box {
                    padding: 2vw;
                    padding-bottom: 4vw;
                    button {
                        background-color: black;
                        color: white;
                        font-size: 4vw;
                        padding: 1.5vw;
                    }
                }
            }
        }
        .cliam {
            background-color: #ff7700;
            padding: 4vw;   
            h2 {
                font-size: 5vw;
                color: white;
                font-weight: 800;
            }

            p {
                font-size: 2.5vw;
            }
    
        }
        .million {
            background-color: black;
            padding: 4vw;
            color: white;
            h3 {
                font-size: 4vw;
                font-weight: 700;
            }
            h4 {
                font-size: 3vw;
                font-weight: 700;
            }
        }
        .how {
            padding: 4vw;
            color: black;
            h2 {
                font-size: 4.5vw;
                font-weight: 800;
            }
            h4 {
                padding-top: 1.5vw;
            }
            label {
                font-weight: 700;
                font-size: 1.6vw;
            }
            button {
                font-size: 2vw;
            }
            .container {
                margin-top: 4vw;
                h5 {
                    font-size: 2.5vw;
                }
                h4 {
                    font-size: 1.5vw;
                }
                p {
                    word-break: break-all;
                    font-size: 1.5vw;
                }
                img {
                    max-width: 30vw;
                    width: 100%;
                }
            }
            .padding-top-20 {
                padding-top: 2vw;
            }
        }
        .from {
            background-color: #ffd500;
            padding: 4vw;
            h2 {
                font-size: 3.5vw;
                font-weight: 750;
            }
        }
        .section {
            background-color: #fafafa;
            padding: 2.7vw;
            padding-top: 5.7vw;
            h2 {
                font-size: 4vw;
                font-weight: 800;
            }
            .row {
                width: 80%;
                margin: auto;
                ul {
                    padding-top: 3.5vw;
                    li {
                        text-align: left;
                        font-size: 2vw;
                        font-size: 600;
                        list-style-type: none;
                        padding-bottom: 2vw;
                    }
                }
            }
        }
        .swap {
            background-color: white;
            padding-top: 2.5vw;
            padding-bottom: 2.5vw;
            img  {
                height: 10vw;
            }
        }
        .crypto {
            background-color: #fafafa;
            padding-top: 8vw;
            padding-bottom: 7vw;
            h2 {
                font-size: 4vw;
                font-weight: 800;
            }
    
            h3 {
                font-size: 3vw;
                font-weight: 700;
            }
    
            h4 {
                font-size: 2vw;
                font-weight: 600;
                line-height: 1.8;
            }
        }
        .roadmap {
            position: relative;
            // #roadmap {
            //     max-width: 100%;
            // }
            // // .puff {
            // //     position: absolute;
            //     #puff1 {
            //         top: 0;
            //         position: absolute;
            //     }
            // // }
        }
        .footer {
            background-color: black !important;
            padding: 3.5vw;
            p {
                margin-bottom: 0;
                font-size: 2.5vw;
                color: white;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .home1 {
        color: black;
        text-align: center;
        .dashboard {
            padding-top: 4vw;
            background-color: black;
            h1 {
                font-size: 9vw;
                font-weight: 800;
                color: #FF7700;
            }
    
            h3 {
                padding-top: 2vw;
                font-size: 3.5vw;
                color: #FFA300;
            }
            .image-section {
                margin-top: 5vw;
                height: 93vw;
                position: relative;
                #cauli {
                    top: 20vw;
                    left: 5vw;
                    position: absolute;
                    transform: rotate(
                        -25deg) !important;
                    img {
                        width: 25vw;
                    }
                }
                #dog {
                    position: absolute;
                    border: 1vw solid white;
                    top: 5.5vw;
                    left: calc(50% - 17.5vw);
                    box-shadow: var(0.00px 1.00px 4px 0px rgba(0,0,0,0.4));
                    img {
                        width: 35vw;
                    }
                }
                #dragon {
                    top: 23vw;
                    left: calc(50% + 20vw);
                    position: absolute;
                    transform: rotate(20deg) !important;
                    img {
                        width: 25vw;
                    }
                }
                #sprouts {
                    top: 50vw;
                    left: calc(50% - 12vw);
                    position: absolute;
                    transform: rotate(-15deg) !important;
                    img {
                        width: 30vw;
                    }
                }
            }
        }
        .box {
            h1 {
                padding-top: 7.7vw;
                padding-bottom: 2vw;
                font-size: 7vw;
                font-weight: 800;
                color: #ffa300;
                letter-spacing: 0.16vw;
            }
            .row {
                p {
                    padding-top: 2vw;
                    font-size: 3.7vw;
                    font-weight: 500;
                }
                .get-box {
                    padding: 2vw;
                    padding-bottom: 4vw;
                    button {
                        background-color: black;
                        color: white;
                        font-size: 4vw;
                        padding: 1.5vw;
                    }
                }
            }
        }
        .cliam {
            background-color: #ff7700;
            padding: 4vw;   
            h2 {
                font-size: 5vw;
                color: white;
                font-weight: 800;
            }
    
        }
        .million {
            background-color: black;
            padding: 4vw;
            color: white;
            h3 {
                font-size: 4.5vw;
                font-weight: 700;
            }
            h4 {
                font-size: 3.5vw;
                font-weight: 700;
            }
        }
        .how {
            padding: 4vw;
            color: black;
            h2 {
                font-size: 5vw;
                font-weight: 800;
            }
            h4 {
                padding-top: 1.5vw;
            }
            label {
                font-weight: 700;
                font-size: 3vw;
            }
            button {
                font-size: 3vw;
            }
            .container {
                margin-top: 4vw;
                h5 {
                    font-size: 3vw;
                }
                h4 {
                    font-size: 3vw;
                }
                p {
                    word-break: break-all;
                    font-size: 2.5vw;
                }
                img {
                    max-width: 50vw;
                    width: 100%;
                }
                .next-col {
                    padding-top: 3vw;
                    position: inherit;
                    .get-vegan {
                        position: relative;
                    }
                }
            }
            .padding-top-20 {
                padding-top: 1vw;
            }
        }
        .from {
            background-color: #ffd500;
            padding: 4vw;
            h2 {
                font-size: 3.5vw;
                font-weight: 800;
            }
        }
        .section {
            background-color: #fafafa;
            padding: 2.7vw;
            padding-top: 5.7vw;
            h2 {
                font-size: 4vw;
                font-weight: 800;
            }
            .row {
                width: 90%;
                margin: auto;
                ul {
                    padding-top: 3.5vw;
                    li {
                        text-align: left;
                        font-size: 2.5vw;
                        font-size: 600;
                        list-style-type: none;
                        padding-bottom: 2vw;
                    }
                }
            }
        }
        .swap {
            background-color: white;
            padding-top: 2.5vw;
            padding-bottom: 2.5vw;
            img  {
                height: 15vw;
            }
        }
        .crypto {
            background-color: #fafafa;
            padding-top: 8vw;
            padding-bottom: 7vw;
            h2 {
                font-size: 5vw;
                font-weight: 800;
            }
    
            h3 {
                font-size: 4vw;
                font-weight: 700;
            }
    
            h4 {
                font-size: 2.5vw;
                font-weight: 600;
                line-height: 1.8;
            }
        }
        .footer {
            background-color: black !important;
            padding: 3.5vw;
            p {
                margin-bottom: 0;
                font-size: 2.5vw;
                color: white;
            }
        }
    }
    
}